- metricName: jvm_classes_loaded
  namespace: ECS/ContainerInsights/Prometheus
  dimensions:
    - name: ClusterName
      value: {{cloudWatchContext.clusterName}}
    - name: TaskDefinitionFamily
      value: {{cloudWatchContext.jmx.taskDefinitionFamily}}
- metricName: jvm_memory_pool_bytes_used
  namespace: ECS/ContainerInsights/Prometheus
  dimensions:
    - name: ClusterName
      value: {{cloudWatchContext.clusterName}}
    - name: TaskDefinitionFamily
      value: {{cloudWatchContext.jmx.taskDefinitionFamily}}
    - name: pool
      value: Metaspace
- metricName: jvm_memory_bytes_used
  namespace: ECS/ContainerInsights/Prometheus
  dimensions:
    - name: ClusterName
      value: {{cloudWatchContext.clusterName}}
    - name: TaskDefinitionFamily
      value: {{cloudWatchContext.jmx.taskDefinitionFamily}}
    - name: area
      value: heap