# https://stackoverflow.com/questions/4067093/mustache-read-variables-from-parent-section-in-child-section
# https://stackoverflow.com/questions/3954913/iterating-over-arrays-with-mustache
{{#cloudWatchContext.jmx.taskDefinitionFamilies}}
- metricName: jvm_classes_loaded
  namespace: ECS/ContainerInsights/Prometheus
  dimensions:
    - name: ClusterName
      value: {{cloudWatchContext.clusterName}}
    - name: TaskDefinitionFamily
      value: {{.}}
- metricName: jvm_memory_pool_bytes_used
  namespace: ECS/ContainerInsights/Prometheus
  dimensions:
    - name: ClusterName
      value: {{cloudWatchContext.clusterName}}
    - name: TaskDefinitionFamily
      value: {{.}}
    - name: pool
      value: Metaspace
- metricName: jvm_memory_bytes_used
  namespace: ECS/ContainerInsights/Prometheus
  dimensions:
    - name: ClusterName
      value: {{cloudWatchContext.clusterName}}
    - name: TaskDefinitionFamily
      value: {{.}}
    - name: area
      value: heap
{{/cloudWatchContext.jmx.taskDefinitionFamilies}}