-
  metricName: totalApiRequests
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: signal
      value: metric
    -
      name: metricType
      value: request
-
  metricName: totalBytesSent
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: signal
      value: metric
    -
      name: metricType
      value: request

-
  metricName: latencyTime
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: signal
      value: metric
    -
      name: metricType
      value: request

-
  metricName: timeAlive
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: signal
      value: metric
    -
      name: metricType
      value: random
-
  metricName: totalHeapSize
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: signal
      value: metric
    -
      name: metricType
      value: random

-
  metricName: threadsActive
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: signal
      value: metric
    -
      name: metricType
      value: random

-
  metricName: cpuUsage
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: signal
      value: metric
    -
      name: metricType
      value: random
