[{
  "http": {
    "request": {
      "url": "{{endpoint}}/outgoing-http-call",
      "method": "GET"
    },
    "response": {
      "status": 200
    }
  },
  "subsegments": [
    {
      "name": "outgoing-http-call",
      "metadata": {
        "default": {
          "language": "javascript",
          "signal": "trace"
        }
      },
      "subsegments": [
        {
          "name": "aws.amazon.com:443",
          "http": {
            "request": {
              "url": "https://aws.amazon.com/",
              "method": "GET"
            }
          },
          "namespace": "remote"
        }
      ]
    }
  ]
}]
