[{ 
    "segments": [
        { 
            "document": '{ 
                "metadata": { 
                    "default": {
                        "collector-id": 3
                    } 
                }, 
                "subsegments": [] 
            }' 
        }
    ] 
}]