{ 
    "segments": [
        { 
            "document": '{ 
                "metadata": { 
                    "default": {
                        "collector-id": 2
                    } 
                }, 
                "subsegments": [
                    { 
                        "metadata": { 
                            "default": {
                                "collector-id": 3
                            } 
                        }
                    }, 
                    {
                        "metadata": { 
                            "default": {
                                "collector-id": 3
                            } 
                        }
                    }
                ] 
            }' 
        }
    ] 
}