-
  metricName: latency_{{instanceId}}
  namespace: AWSObservability/CloudWatchOTService
  dimensions:
    -
      name: apiName
      value: /span0
    -
      name: statusCode
      value: 200
-
  metricName: latency_{{instanceId}}
  namespace: AWSObservability/CloudWatchOTService
  dimensions:
    -
      name: apiName
      value: /span1
    -
      name: statusCode
      value: 200
-
  metricName: latency_{{instanceId}}
  namespace: AWSObservability/CloudWatchOTService
  dimensions:
    -
      name: apiName
      value: /span2
    -
      name: statusCode
      value: 200
-
  metricName: latency_{{instanceId}}
  namespace: AWSObservability/CloudWatchOTService
  dimensions:
    -
      name: apiName
      value: /span400
    -
      name: statusCode
      value: 400
-
  metricName: latency_{{instanceId}}
  namespace: AWSObservability/CloudWatchOTService
  dimensions:
    -
      name: apiName
      value: /span500
    -
      name: statusCode
      value: 500
