[{
  "http": {
    "request": {
      "url": "{{endpoint}}/outgoing-http-call",
      "method": "GET"
    },
    "response": {
      "status": 200
    }
  },
  "metadata": {
    "default": {
      "otel.resource.telemetry.sdk.name": "opentelemetry"
    }
  },
  "subsegments": [
    {
      "name": "aws.amazon.com:80",
      "http": {
        "request": {
          "url": "http://aws.amazon.com/",
          "method": "GET"
        },
        "response": {
          "status": 301
        }
      },
      "namespace": "remote"
    }
  ]
}]
