[{
  "http": {
    "request": {
      "url": "{{endpoint}}/aws-sdk-call",
      "method": "GET"
    },
    "response": {
      "status": 200
    }
  },
  "aws": {
    "xray": {
      "sdk": "opentelemetry for nodejs"
    }
  },
  "metadata": {
    "default": {
      "otel.resource.telemetry.sdk.name": "opentelemetry"
    }
  },
  "subsegments": [
    {
      "name": "s3",
      "metadata": {
        "default": {
          "aws.service.api": "S3"
        }
      }
    }
  ]
}]
