[
{
"metric":{
"__name__":"queueSizeChange",
"apiName":"apiName",
"statuscode":"200"
},
"value":[

],
"values":[

]
},
{
"metric":{
"__name__":"totalApiBytesSentMetricName",
"apiName":"apiName",
"statuscode":"200"
},
"value":[

],
"values":[

]
},
{
"metric":{
"__name__":"lastLatencyMetricName",
"apiName":"apiName",
"statuscode":"200"
},
"value":[

],
"values":[

]
},
{
"metric":{
"__name__":"actualQueueSizeMetricName",
"apiName":"apiName",
"statuscode":"200"
},
"value":[

],
"values":[

]
}
]