-
  metricName: latency
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: OTelLib
      value: cloudwatch-otel
    -
      name: apiName
      value: /outgoing-http-call
    -
      name: statusCode
      value: 200
