-
  metricName: latency_{{testingId}}
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: OTelLib
      value: aws-otel
    -
      name: apiName
      value: /outgoing-http-call
    -
      name: statusCode
      value: 200
