-
  metricName: latency_{{testingId}}
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: host.id
      value: 123
    -
      name: host.image.id
      value: 1234
    -
      name: host.name
      value: testname
    -
      name: host.type
      value: testtype

-
  metricName: apiBytesSent_{{testingId}}
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: host.id
      value: 123
    -
      name: host.image.id
      value: 1234
    -
      name: host.name
      value: testname
    -
      name: host.type
      value: testtype

-
  metricName: totalApiBytesSent_{{testingId}}
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: host.id
      value: 123
    -
      name: host.image.id
      value: 1234
    -
      name: host.name
      value: testname
    -
      name: host.type
      value: testtype

-
  metricName: queueSizeChange_{{testingId}}
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: host.id
      value: 123
    -
      name: host.image.id
      value: 1234
    -
      name: host.name
      value: testname
    -
      name: host.type
      value: testtype

-
  metricName: actualQueueSize_{{testingId}}
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: host.id
      value: 123
    -
      name: host.image.id
      value: 1234
    -
      name: host.name
      value: testname
    -
      name: host.type
      value: testtype

-
  metricName: lastLatency_{{testingId}}
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: host.id
      value: 123
    -
      name: host.image.id
      value: 1234
    -
      name: host.name
      value: testname
    -
      name: host.type
      value: testtype