-
  metricName: ecs.task.memory.utilized_{{testingId}}
  namespace: default
  dimensions:
    -
      name: OTLib
      value: Undefined
    -
      name: ecs.cluster
      value: ""
    -
      name: ecs.service
      value: "undefined"
    -
      name: ecs.task-arn
      value: ""
    -
      name: ecs.task-definition-family
      value: ""
    -
      name: ecs.task-definition-version
      value: ""
    -
      name: ecs.task-id
      value: ""
