-
  metricName: ecs.task.memory.utilized_{{testingId}}
  namespace: default
  dimensions:
    -
      name: ecs.cluster
      value: "{{ecsContext.ecsClusterName}}"
    -
      name: ecs.service
      value: "undefined"
    -
      name: ecs.task-arn
      value: "{{ecsContext.ecsTaskArn}}"
    -
      name: ecs.task-definition-family
      value: "{{ecsContext.ecsTaskDefFamily}}"
    -
      name: ecs.task-definition-version
      value: "{{ecsContext.ecsTaskDefVersion}}"
    -
      name: ecs.task-id
      value: "SKIP"
