-
  metricName: pod_cpu_utilization_over_pod_limit_{{testingId}}
  namespace: ContainerInsightsFargate
  dimensions:
    -
      name: ClusterName
      value: SKIP
    -
      name: LaunchType
      value: fargate
-
  metricName: pod_memory_limit
  namespace: ContainerInsightsFargate
  dimensions:
    -
      name: ClusterName
      value: SKIP
    -
      name: LaunchType
      value: fargate
-
  metricName: pod_network_rx_bytes
  namespace: ContainerInsightsFargate
  dimensions:
    -
      name: ClusterName
      value: SKIP
    -
      name: LaunchType
      value: fargate
-
  metricName: pod_memory_utilization_over_pod_limit_{{testingId}}
  namespace: ContainerInsightsFargate
  dimensions:
    -
      name: ClusterName
      value: SKIP
    -
      name: LaunchType
      value: fargate
-
  metricName: pod_memory_working_set
  namespace: ContainerInsightsFargate
  dimensions:
    -
      name: ClusterName
      value: SKIP
    -
      name: LaunchType
      value: fargate
-
  metricName: pod_network_tx_bytes
  namespace: ContainerInsightsFargate
  dimensions:
    -
      name: ClusterName
      value: SKIP
    -
      name: LaunchType
      value: fargate
-
  metricName: pod_cpu_utilization_over_pod_limit_{{testingId}}
  namespace: ContainerInsightsFargate
  dimensions:
    -
      name: ClusterName
      value: SKIP
    -
      name: LaunchType
      value: fargate
    -
      name: Namespace
      value: SKIP
-
  metricName: pod_memory_limit
  namespace: ContainerInsightsFargate
  dimensions:
    -
      name: ClusterName
      value: SKIP
    -
      name: LaunchType
      value: fargate
    -
      name: Namespace
      value: SKIP
-
  metricName: pod_network_rx_bytes
  namespace: ContainerInsightsFargate
  dimensions:
    -
      name: ClusterName
      value: SKIP
    -
      name: LaunchType
      value: fargate
    -
      name: Namespace
      value: SKIP
-
  metricName: pod_memory_utilization_over_pod_limit_{{testingId}}
  namespace: ContainerInsightsFargate
  dimensions:
    -
      name: ClusterName
      value: SKIP
    -
      name: LaunchType
      value: fargate
    -
      name: Namespace
      value: SKIP
-
  metricName: pod_memory_working_set
  namespace: ContainerInsightsFargate
  dimensions:
    -
      name: ClusterName
      value: SKIP
    -
      name: LaunchType
      value: fargate
    -
      name: Namespace
      value: SKIP
-
  metricName: pod_network_tx_bytes
  namespace: ContainerInsightsFargate
  dimensions:
    -
      name: ClusterName
      value: SKIP
    -
      name: LaunchType
      value: fargate
    -
      name: Namespace
      value: SKIP
-
  metricName: pod_cpu_utilization_over_pod_limit_{{testingId}}
  namespace: ContainerInsightsFargate
  dimensions:
    -
      name: ClusterName
      value: SKIP
    -
      name: LaunchType
      value: fargate
    -
      name: Namespace
      value: SKIP
    -
      name: PodName
      value: SKIP
-
  metricName: pod_memory_limit
  namespace: ContainerInsightsFargate
  dimensions:
    -
      name: ClusterName
      value: SKIP
    -
      name: LaunchType
      value: fargate
    -
      name: Namespace
      value: SKIP
    -
      name: PodName
      value: SKIP
-
  metricName: pod_network_rx_bytes
  namespace: ContainerInsightsFargate
  dimensions:
    -
      name: ClusterName
      value: SKIP
    -
      name: LaunchType
      value: fargate
    -
      name: Namespace
      value: SKIP
    -
      name: PodName
      value: SKIP
-
  metricName: pod_memory_utilization_over_pod_limit_{{testingId}}
  namespace: ContainerInsightsFargate
  dimensions:
    -
      name: ClusterName
      value: SKIP
    -
      name: LaunchType
      value: fargate
    -
      name: Namespace
      value: SKIP
    -
      name: PodName
      value: SKIP
-
  metricName: pod_memory_working_set
  namespace: ContainerInsightsFargate
  dimensions:
    -
      name: ClusterName
      value: SKIP
    -
      name: LaunchType
      value: fargate
    -
      name: Namespace
      value: SKIP
    -
      name: PodName
      value: SKIP
-
  metricName: pod_network_tx_bytes
  namespace: ContainerInsightsFargate
  dimensions:
    -
      name: ClusterName
      value: SKIP
    -
      name: LaunchType
      value: fargate
    -
      name: Namespace
      value: SKIP
    -
      name: PodName
      value: SKIP