{
    "body": "Executing outgoing-http-call",
    "severity_number": "{{severity_number}}",
    "severity_text": "INFO",
    "trace_id": "{{trace_id}}",
    "span_id": "{{span_id}}",
    "resource": {
        "service.name": "{{resource.service.name}}"
    }
}
