[
  {
    "metric": {
      "__name__":"latency_{{testingId}}",
      "apiName":"/outgoing-http-call",
      "quantile":"0",
      "statusCode":"200"
    }
  },
  {
    "metric": {
      "__name__":"latency_{{testingId}}",
      "apiName":"/outgoing-http-call",
      "quantile":"1",
      "statusCode":"200"
    }
  }
]