-
  metricName: testCounter.metric_{{testingId}}
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: OTelLib
      value: Undefined
    -
      name: key
      value: val
    -
      name: key1
      value: val1

-
  metricName: testGauge.metric_{{testingId}}
  namespace: {{metricNamespace}}
  dimensions:
    -
       name: OTelLib
       value: Undefined
    -
      name: keyg
      value: valg
    -
      name: keyg1
      value: valg1