-
  metricName: statsdTestMetric1g_{{testingId}}
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: OTelLib
      value: github.com/open-telemetry/opentelemetry-collector-contrib/receiver/statsdreceiver
    -
      name: mykey1
      value: myvalue1
    -
      name: mykey2
      value: myvalue2

-
  metricName: statsdTestMetric1c_{{testingId}}
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: OTelLib
      value: github.com/open-telemetry/opentelemetry-collector-contrib/receiver/statsdreceiver
    -
      name: mykey3
      value: myvalue3

-
  metricName: statsdTestMetric1ms_{{testingId}}
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: OTelLib
      value: github.com/open-telemetry/opentelemetry-collector-contrib/receiver/statsdreceiver
    -
      name: mykey4
      value: myvalue4

-
  metricName: statsdTestMetric1h_{{testingId}}
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: OTelLib
      value: github.com/open-telemetry/opentelemetry-collector-contrib/receiver/statsdreceiver
    -
      name: mykey5
      value: myvalue5
