[{
  "name": "aws-otel-integ-test",
  "http": {
    "request": {
      "url": "{{endpoint}}/aws-sdk-call",
      "method": "GET"
    },
    "response": {
      "status": 200
    }
  },
  "subsegments": [
    {
      "subsegments": [
        {
          "name": "AWS.SDK.S3",
          "http": {
            "request": {
              "url": "https://s3\\.{{region}}\\.amazonaws\\.com/",
              "method": "GET"
            },
            "response": {
              "status": 200
            }
          },
          "namespace": "aws"
        }
      ]
    }
  ]
}]
