[{
  "name": "/aws-sdk-call",
  "fault": false,
  "error": false,
  "http": {
    "request": {
      "url": "{{endpoint}}/aws-sdk-call",
      "method": "GET"
    },
    "response": {
      "status": 200
    }
  },
  "subsegments": [
    {
      "fault": false,
      "error": false,
      "subsegments": [
        {
          "name": "S3",
          "fault": false,
          "error": false,
          "http": {
            "request": {
              "url": "https://s3\\.{{region}}\\.amazonaws\\.com/",
              "method": "GET"
            },
            "response": {
              "status": 200
            }
          },
          "namespace": "aws",
          "subsegments": [
            {
              "name": "s3\\.{{region}}\\.amazonaws\\.com",
              "fault": false,
              "error": false,
              "http": {
                "request": {
                  "url": "https://s3\\.{{region}}\\.amazonaws\\.com/",
                  "method": "GET"
                },
                "response": {
                  "status": 200
                }
              },
              "namespace": "remote"
            }
          ]
        }
      ]
    }
  ]
}]
