[{
  "name": "/outgoing-http-call",
  "fault": false,
  "error": false,
  "http": {
    "request": {
      "url": "{{endpoint}}/outgoing-http-call",
      "method": "GET"
    },
    "response": {
      "status": 200
    }
  },
  "subsegments": [
    {
      "fault": false,
      "error": false,
      "subsegments": [
        {
          "name": "aws\\.amazon\\.com",
          "fault": false,
          "error": false,
          "http": {
            "request": {
              "url": "https://aws\\.amazon\\.com/",
              "method": "GET"
            },
            "response": {
              "status": 200
            }
          },
          "namespace": "remote"
        }
      ]
    }
  ]
}]
