- metricName: envoy_http_downstream_rq_total
  namespace: ContainerInsights/Prometheus
  dimensions:
    - name: ClusterName
      value: {{cloudWatchContext.clusterName}}
    - name: Namespace
      value: {{cloudWatchContext.appMesh.namespace}}
- metricName: envoy_cluster_upstream_cx_rx_bytes_total
  namespace: ContainerInsights/Prometheus
  dimensions:
    - name: ClusterName
      value: {{cloudWatchContext.clusterName}}
    - name: Namespace
      value: {{cloudWatchContext.appMesh.namespace}}
- metricName: envoy_cluster_upstream_cx_tx_bytes_total
  namespace: ContainerInsights/Prometheus
  dimensions:
    - name: ClusterName
      value: {{cloudWatchContext.clusterName}}
    - name: Namespace
      value: {{cloudWatchContext.appMesh.namespace}}
- metricName: envoy_cluster_membership_healthy
  namespace: ContainerInsights/Prometheus
  dimensions:
    - name: ClusterName
      value: {{cloudWatchContext.clusterName}}
    - name: Namespace
      value: {{cloudWatchContext.appMesh.namespace}}
- metricName: envoy_cluster_membership_total
  namespace: ContainerInsights/Prometheus
  dimensions:
    - name: ClusterName
      value: {{cloudWatchContext.clusterName}}
    - name: Namespace
      value: {{cloudWatchContext.appMesh.namespace}}
- metricName: envoy_server_memory_heap_size
  namespace: ContainerInsights/Prometheus
  dimensions:
    - name: ClusterName
      value: {{cloudWatchContext.clusterName}}
    - name: Namespace
      value: {{cloudWatchContext.appMesh.namespace}}
- metricName: envoy_server_memory_allocated
  namespace: ContainerInsights/Prometheus
  dimensions:
    - name: ClusterName
      value: {{cloudWatchContext.clusterName}}
    - name: Namespace
      value: {{cloudWatchContext.appMesh.namespace}}
- metricName: envoy_cluster_upstream_cx_connect_timeout
  namespace: ContainerInsights/Prometheus
  dimensions:
    - name: ClusterName
      value: {{cloudWatchContext.clusterName}}
    - name: Namespace
      value: {{cloudWatchContext.appMesh.namespace}}
- metricName: envoy_cluster_upstream_rq_pending_failure_eject
  namespace: ContainerInsights/Prometheus
  dimensions:
    - name: ClusterName
      value: {{cloudWatchContext.clusterName}}
    - name: Namespace
      value: {{cloudWatchContext.appMesh.namespace}}
- metricName: envoy_cluster_upstream_rq_pending_overflow
  namespace: ContainerInsights/Prometheus
  dimensions:
    - name: ClusterName
      value: {{cloudWatchContext.clusterName}}
    - name: Namespace
      value: {{cloudWatchContext.appMesh.namespace}}
- metricName: envoy_cluster_upstream_rq_timeout
  namespace: ContainerInsights/Prometheus
  dimensions:
    - name: ClusterName
      value: {{cloudWatchContext.clusterName}}
    - name: Namespace
      value: {{cloudWatchContext.appMesh.namespace}}
- metricName: envoy_cluster_upstream_rq_per_try_timeout
  namespace: ContainerInsights/Prometheus
  dimensions:
    - name: ClusterName
      value: {{cloudWatchContext.clusterName}}
    - name: Namespace
      value: {{cloudWatchContext.appMesh.namespace}}
- metricName: envoy_cluster_upstream_rq_rx_reset
  namespace: ContainerInsights/Prometheus
  dimensions:
    - name: ClusterName
      value: {{cloudWatchContext.clusterName}}
    - name: Namespace
      value: {{cloudWatchContext.appMesh.namespace}}
- metricName: envoy_cluster_upstream_cx_destroy_local_with_active_rq
  namespace: ContainerInsights/Prometheus
  dimensions:
    - name: ClusterName
      value: {{cloudWatchContext.clusterName}}
    - name: Namespace
      value: {{cloudWatchContext.appMesh.namespace}}
- metricName: envoy_http_downstream_cx_destroy_remote_active_rq
  namespace: ContainerInsights/Prometheus
  dimensions:
    - name: ClusterName
      value: {{cloudWatchContext.clusterName}}
    - name: Namespace
      value: {{cloudWatchContext.appMesh.namespace}}
- metricName: envoy_cluster_upstream_rq_maintenance_mode
  namespace: ContainerInsights/Prometheus
  dimensions:
    - name: ClusterName
      value: {{cloudWatchContext.clusterName}}
    - name: Namespace
      value: {{cloudWatchContext.appMesh.namespace}}
- metricName: envoy_cluster_upstream_flow_control_paused_reading_total
  namespace: ContainerInsights/Prometheus
  dimensions:
    - name: ClusterName
      value: {{cloudWatchContext.clusterName}}
    - name: Namespace
      value: {{cloudWatchContext.appMesh.namespace}}
- metricName: envoy_cluster_upstream_flow_control_resumed_reading_total
  namespace: ContainerInsights/Prometheus
  dimensions:
    - name: ClusterName
      value: {{cloudWatchContext.clusterName}}
    - name: Namespace
      value: {{cloudWatchContext.appMesh.namespace}}
- metricName: envoy_cluster_upstream_flow_control_backed_up_total
  namespace: ContainerInsights/Prometheus
  dimensions:
    - name: ClusterName
      value: {{cloudWatchContext.clusterName}}
    - name: Namespace
      value: {{cloudWatchContext.appMesh.namespace}}
- metricName: envoy_cluster_upstream_flow_control_drained_total
  namespace: ContainerInsights/Prometheus
  dimensions:
    - name: ClusterName
      value: {{cloudWatchContext.clusterName}}
    - name: Namespace
      value: {{cloudWatchContext.appMesh.namespace}}
- metricName: envoy_cluster_upstream_rq_retry
  namespace: ContainerInsights/Prometheus
  dimensions:
    - name: ClusterName
      value: {{cloudWatchContext.clusterName}}
    - name: Namespace
      value: {{cloudWatchContext.appMesh.namespace}}
- metricName: envoy_cluster_upstream_rq_retry_success
  namespace: ContainerInsights/Prometheus
  dimensions:
    - name: ClusterName
      value: {{cloudWatchContext.clusterName}}
    - name: Namespace
      value: {{cloudWatchContext.appMesh.namespace}}
- metricName: envoy_cluster_upstream_rq_retry_overflow
  namespace: ContainerInsights/Prometheus
  dimensions:
    - name: ClusterName
      value: {{cloudWatchContext.clusterName}}
    - name: Namespace
      value: {{cloudWatchContext.appMesh.namespace}}
- metricName: envoy_server_live
  namespace: ContainerInsights/Prometheus
  dimensions:
    - name: ClusterName
      value: {{cloudWatchContext.clusterName}}
    - name: Namespace
      value: {{cloudWatchContext.appMesh.namespace}}
- metricName: envoy_server_uptime
  namespace: ContainerInsights/Prometheus
  dimensions:
    - name: ClusterName
      value: {{cloudWatchContext.clusterName}}
    - name: Namespace
      value: {{cloudWatchContext.appMesh.namespace}}
- metricName: envoy_http_downstream_rq_xx
  namespace: ContainerInsights/Prometheus
  dimensions:
    - name: ClusterName
      value: {{cloudWatchContext.clusterName}}
    - name: Namespace
      value: {{cloudWatchContext.appMesh.namespace}}
    - name: envoy_response_code_class
      value: 2
    - name: envoy_http_conn_manager_prefix
      value: ingress

- metricName: nginx_ingress_controller_nginx_process_connections
  namespace: ContainerInsights/Prometheus
  dimensions:
    - name: ClusterName
      value: {{cloudWatchContext.clusterName}}
    - name: Namespace
      value: {{cloudWatchContext.nginx.namespace}}
    - name: Service
      value: terraform-ingress-nginx-controller-metrics
- metricName: nginx_ingress_controller_nginx_process_resident_memory_bytes
  namespace: ContainerInsights/Prometheus
  dimensions:
    - name: ClusterName
      value: {{cloudWatchContext.clusterName}}
    - name: Namespace
      value: {{cloudWatchContext.nginx.namespace}}
    - name: Service
      value: terraform-ingress-nginx-controller-metrics
- metricName: nginx_ingress_controller_nginx_process_cpu_seconds_total
  namespace: ContainerInsights/Prometheus
  dimensions:
    - name: ClusterName
      value: {{cloudWatchContext.clusterName}}
    - name: Namespace
      value: {{cloudWatchContext.nginx.namespace}}
    - name: Service
      value: terraform-ingress-nginx-controller-metrics
- metricName: nginx_ingress_controller_success
  namespace: ContainerInsights/Prometheus
  dimensions:
    - name: ClusterName
      value: {{cloudWatchContext.clusterName}}
    - name: Namespace
      value: {{cloudWatchContext.nginx.namespace}}
    - name: Service
      value: terraform-ingress-nginx-controller-metrics
- metricName: nginx_ingress_controller_config_last_reload_successful
  namespace: ContainerInsights/Prometheus
  dimensions:
    - name: ClusterName
      value: {{cloudWatchContext.clusterName}}
    - name: Namespace
      value: {{cloudWatchContext.nginx.namespace}}
    - name: Service
      value: terraform-ingress-nginx-controller-metrics
- metricName: nginx_ingress_controller_nginx_process_connections_total
  namespace: ContainerInsights/Prometheus
  dimensions:
    - name: ClusterName
      value: {{cloudWatchContext.clusterName}}
    - name: Namespace
      value: {{cloudWatchContext.nginx.namespace}}
    - name: Service
      value: terraform-ingress-nginx-controller-metrics
- metricName: nginx_ingress_controller_requests
  namespace: ContainerInsights/Prometheus
  dimensions:
    - name: ClusterName
      value: {{cloudWatchContext.clusterName}}
    - name: Namespace
      value: {{cloudWatchContext.nginx.namespace}}
    - name: Service
      value: terraform-ingress-nginx-controller-metrics
- metricName: nginx_ingress_controller_requests
  namespace: ContainerInsights/Prometheus
  dimensions:
    - name: ClusterName
      value: {{cloudWatchContext.clusterName}}
    - name: Namespace
      value: {{cloudWatchContext.nginx.namespace}}
    - name: Service
      value: terraform-ingress-nginx-controller-metrics
    - name: status
      value: 200
- metricName: nginx_ingress_controller_requests
  namespace: ContainerInsights/Prometheus
  dimensions:
    - name: ClusterName
      value: {{cloudWatchContext.clusterName}}
    - name: Namespace
      value: {{cloudWatchContext.nginx.namespace}}
    - name: Service
      value: terraform-ingress-nginx-controller-metrics
    - name: ingress
      value: ingress-nginx-demo

- metricName: jvm_threads_current
  namespace: ContainerInsights/Prometheus
  dimensions:
    - name: ClusterName
      value: {{cloudWatchContext.clusterName}}
    - name: Namespace
      value: {{cloudWatchContext.jmx.namespace}}
- metricName: jvm_threads_daemon
  namespace: ContainerInsights/Prometheus
  dimensions:
    - name: ClusterName
      value: {{cloudWatchContext.clusterName}}
    - name: Namespace
      value: {{cloudWatchContext.jmx.namespace}}
- metricName: jvm_classes_loaded
  namespace: ContainerInsights/Prometheus
  dimensions:
    - name: ClusterName
      value: {{cloudWatchContext.clusterName}}
    - name: Namespace
      value: {{cloudWatchContext.jmx.namespace}}
- metricName: java_lang_operatingsystem_freephysicalmemorysize
  namespace: ContainerInsights/Prometheus
  dimensions:
    - name: ClusterName
      value: {{cloudWatchContext.clusterName}}
    - name: Namespace
      value: {{cloudWatchContext.jmx.namespace}}
- metricName: java_lang_operatingsystem_totalphysicalmemorysize
  namespace: ContainerInsights/Prometheus
  dimensions:
    - name: ClusterName
      value: {{cloudWatchContext.clusterName}}
    - name: Namespace
      value: {{cloudWatchContext.jmx.namespace}}
- metricName: java_lang_operatingsystem_freeswapspacesize
  namespace: ContainerInsights/Prometheus
  dimensions:
    - name: ClusterName
      value: {{cloudWatchContext.clusterName}}
    - name: Namespace
      value: {{cloudWatchContext.jmx.namespace}}
- metricName: java_lang_operatingsystem_totalswapspacesize
  namespace: ContainerInsights/Prometheus
  dimensions:
    - name: ClusterName
      value: {{cloudWatchContext.clusterName}}
    - name: Namespace
      value: {{cloudWatchContext.jmx.namespace}}
- metricName: java_lang_operatingsystem_systemcpuload
  namespace: ContainerInsights/Prometheus
  dimensions:
    - name: ClusterName
      value: {{cloudWatchContext.clusterName}}
    - name: Namespace
      value: {{cloudWatchContext.jmx.namespace}}
- metricName: java_lang_operatingsystem_processcpuload
  namespace: ContainerInsights/Prometheus
  dimensions:
    - name: ClusterName
      value: {{cloudWatchContext.clusterName}}
    - name: Namespace
      value: {{cloudWatchContext.jmx.namespace}}
- metricName: java_lang_operatingsystem_availableprocessors
  namespace: ContainerInsights/Prometheus
  dimensions:
    - name: ClusterName
      value: {{cloudWatchContext.clusterName}}
    - name: Namespace
      value: {{cloudWatchContext.jmx.namespace}}
- metricName: java_lang_operatingsystem_openfiledescriptorcount
  namespace: ContainerInsights/Prometheus
  dimensions:
    - name: ClusterName
      value: {{cloudWatchContext.clusterName}}
    - name: Namespace
      value: {{cloudWatchContext.jmx.namespace}}
- metricName: catalina_manager_activesessions
  namespace: ContainerInsights/Prometheus
  dimensions:
    - name: ClusterName
      value: {{cloudWatchContext.clusterName}}
    - name: Namespace
      value: {{cloudWatchContext.jmx.namespace}}
- metricName: catalina_manager_rejectedsessions
  namespace: ContainerInsights/Prometheus
  dimensions:
    - name: ClusterName
      value: {{cloudWatchContext.clusterName}}
    - name: Namespace
      value: {{cloudWatchContext.jmx.namespace}}
- metricName: catalina_globalrequestprocessor_bytesreceived
  namespace: ContainerInsights/Prometheus
  dimensions:
    - name: ClusterName
      value: {{cloudWatchContext.clusterName}}
    - name: Namespace
      value: {{cloudWatchContext.jmx.namespace}}
- metricName: catalina_globalrequestprocessor_bytessent
  namespace: ContainerInsights/Prometheus
  dimensions:
    - name: ClusterName
      value: {{cloudWatchContext.clusterName}}
    - name: Namespace
      value: {{cloudWatchContext.jmx.namespace}}
- metricName: catalina_globalrequestprocessor_requestcount
  namespace: ContainerInsights/Prometheus
  dimensions:
    - name: ClusterName
      value: {{cloudWatchContext.clusterName}}
    - name: Namespace
      value: {{cloudWatchContext.jmx.namespace}}
- metricName: catalina_globalrequestprocessor_processingtime
  namespace: ContainerInsights/Prometheus
  dimensions:
    - name: ClusterName
      value: {{cloudWatchContext.clusterName}}
    - name: Namespace
      value: {{cloudWatchContext.jmx.namespace}}
- metricName: catalina_globalrequestprocessor_errorcount
  namespace: ContainerInsights/Prometheus
  dimensions:
    - name: ClusterName
      value: {{cloudWatchContext.clusterName}}
    - name: Namespace
      value: {{cloudWatchContext.jmx.namespace}}
- metricName: jvm_memory_bytes_used
  namespace: ContainerInsights/Prometheus
  dimensions:
    - name: ClusterName
      value: {{cloudWatchContext.clusterName}}
    - name: Namespace
      value: {{cloudWatchContext.jmx.namespace}}
    - name: area
      value: heap
- metricName: jvm_memory_pool_bytes_used
  namespace: ContainerInsights/Prometheus
  dimensions:
    - name: ClusterName
      value: {{cloudWatchContext.clusterName}}
    - name: Namespace
      value: {{cloudWatchContext.jmx.namespace}}
    - name: pool
      value: Metaspace

- metricName: memcached_written_bytes_total
  namespace: ContainerInsights/Prometheus
  dimensions:
    - name: ClusterName
      value: {{cloudWatchContext.clusterName}}
    - name: Namespace
      value: {{cloudWatchContext.memcached.namespace}}
    - name: Service
      value: memcached-metrics
- metricName: memcached_read_bytes_total
  namespace: ContainerInsights/Prometheus
  dimensions:
    - name: ClusterName
      value: {{cloudWatchContext.clusterName}}
    - name: Namespace
      value: {{cloudWatchContext.memcached.namespace}}
    - name: Service
      value: memcached-metrics
- metricName: memcached_items_evicted_total
  namespace: ContainerInsights/Prometheus
  dimensions:
    - name: ClusterName
      value: {{cloudWatchContext.clusterName}}
    - name: Namespace
      value: {{cloudWatchContext.memcached.namespace}}
    - name: Service
      value: memcached-metrics
- metricName: memcached_items_reclaimed_total
  namespace: ContainerInsights/Prometheus
  dimensions:
    - name: ClusterName
      value: {{cloudWatchContext.clusterName}}
    - name: Namespace
      value: {{cloudWatchContext.memcached.namespace}}
    - name: Service
      value: memcached-metrics
- metricName: memcached_commands_total
  namespace: ContainerInsights/Prometheus
  dimensions:
    - name: ClusterName
      value: {{cloudWatchContext.clusterName}}
    - name: Namespace
      value: {{cloudWatchContext.memcached.namespace}}
    - name: Service
      value: memcached-metrics
- metricName: memcached_current_items
  namespace: ContainerInsights/Prometheus
  dimensions:
    - name: ClusterName
      value: {{cloudWatchContext.clusterName}}
    - name: Namespace
      value: {{cloudWatchContext.memcached.namespace}}
    - name: Service
      value: memcached-metrics
- metricName: memcached_current_connections
  namespace: ContainerInsights/Prometheus
  dimensions:
    - name: ClusterName
      value: {{cloudWatchContext.clusterName}}
    - name: Namespace
      value: {{cloudWatchContext.memcached.namespace}}
    - name: Service
      value: memcached-metrics
- metricName: memcached_current_bytes
  namespace: ContainerInsights/Prometheus
  dimensions:
    - name: ClusterName
      value: {{cloudWatchContext.clusterName}}
    - name: Namespace
      value: {{cloudWatchContext.memcached.namespace}}
    - name: Service
      value: memcached-metrics
- metricName: memcached_limit_bytes
  namespace: ContainerInsights/Prometheus
  dimensions:
    - name: ClusterName
      value: {{cloudWatchContext.clusterName}}
    - name: Namespace
      value: {{cloudWatchContext.memcached.namespace}}
    - name: Service
      value: memcached-metrics
- metricName: memcached_commands_total
  namespace: ContainerInsights/Prometheus
  dimensions:
    - name: ClusterName
      value: {{cloudWatchContext.clusterName}}
    - name: Namespace
      value: {{cloudWatchContext.memcached.namespace}}
    - name: Service
      value: memcached-metrics
    - name: command
      value: get
    - name: status
      value: hit

- metricName: haproxy_backend_status
  namespace: ContainerInsights/Prometheus
  dimensions:
    - name: ClusterName
      value: {{cloudWatchContext.clusterName}}
    - name: Namespace
      value: {{cloudWatchContext.haproxy.namespace}}
    - name: Service
      value: terraform-haproxy-ingress-metrics
- metricName: haproxy_backend_bytes_in_total
  namespace: ContainerInsights/Prometheus
  dimensions:
    - name: ClusterName
      value: {{cloudWatchContext.clusterName}}
    - name: Namespace
      value: {{cloudWatchContext.haproxy.namespace}}
    - name: Service
      value: terraform-haproxy-ingress-metrics
- metricName: haproxy_backend_bytes_out_total
  namespace: ContainerInsights/Prometheus
  dimensions:
    - name: ClusterName
      value: {{cloudWatchContext.clusterName}}
    - name: Namespace
      value: {{cloudWatchContext.haproxy.namespace}}
    - name: Service
      value: terraform-haproxy-ingress-metrics
- metricName: haproxy_backend_connection_errors_total
  namespace: ContainerInsights/Prometheus
  dimensions:
    - name: ClusterName
      value: {{cloudWatchContext.clusterName}}
    - name: Namespace
      value: {{cloudWatchContext.haproxy.namespace}}
    - name: Service
      value: terraform-haproxy-ingress-metrics
- metricName: haproxy_backend_current_sessions
  namespace: ContainerInsights/Prometheus
  dimensions:
    - name: ClusterName
      value: {{cloudWatchContext.clusterName}}
    - name: Namespace
      value: {{cloudWatchContext.haproxy.namespace}}
    - name: Service
      value: terraform-haproxy-ingress-metrics
- metricName: haproxy_frontend_bytes_in_total
  namespace: ContainerInsights/Prometheus
  dimensions:
    - name: ClusterName
      value: {{cloudWatchContext.clusterName}}
    - name: Namespace
      value: {{cloudWatchContext.haproxy.namespace}}
    - name: Service
      value: terraform-haproxy-ingress-metrics
- metricName: haproxy_frontend_bytes_out_total
  namespace: ContainerInsights/Prometheus
  dimensions:
    - name: ClusterName
      value: {{cloudWatchContext.clusterName}}
    - name: Namespace
      value: {{cloudWatchContext.haproxy.namespace}}
    - name: Service
      value: terraform-haproxy-ingress-metrics
- metricName: haproxy_frontend_connections_total
  namespace: ContainerInsights/Prometheus
  dimensions:
    - name: ClusterName
      value: {{cloudWatchContext.clusterName}}
    - name: Namespace
      value: {{cloudWatchContext.haproxy.namespace}}
    - name: Service
      value: terraform-haproxy-ingress-metrics
- metricName: haproxy_frontend_http_requests_total
  namespace: ContainerInsights/Prometheus
  dimensions:
    - name: ClusterName
      value: {{cloudWatchContext.clusterName}}
    - name: Namespace
      value: {{cloudWatchContext.haproxy.namespace}}
    - name: Service
      value: terraform-haproxy-ingress-metrics
- metricName: haproxy_frontend_request_errors_total
  namespace: ContainerInsights/Prometheus
  dimensions:
    - name: ClusterName
      value: {{cloudWatchContext.clusterName}}
    - name: Namespace
      value: {{cloudWatchContext.haproxy.namespace}}
    - name: Service
      value: terraform-haproxy-ingress-metrics
- metricName: haproxy_frontend_requests_denied_total
  namespace: ContainerInsights/Prometheus
  dimensions:
    - name: ClusterName
      value: {{cloudWatchContext.clusterName}}
    - name: Namespace
      value: {{cloudWatchContext.haproxy.namespace}}
    - name: Service
      value: terraform-haproxy-ingress-metrics
- metricName: haproxy_frontend_current_sessions
  namespace: ContainerInsights/Prometheus
  dimensions:
    - name: ClusterName
      value: {{cloudWatchContext.clusterName}}
    - name: Namespace
      value: {{cloudWatchContext.haproxy.namespace}}
    - name: Service
      value: terraform-haproxy-ingress-metrics
- metricName: haproxy_backend_http_responses_total
  namespace: ContainerInsights/Prometheus
  dimensions:
    - name: ClusterName
      value: {{cloudWatchContext.clusterName}}
    - name: Namespace
      value: {{cloudWatchContext.haproxy.namespace}}
    - name: Service
      value: terraform-haproxy-ingress-metrics
    - name: backend
      value: _default_backend
    - name: code
      value: 2xx
- metricName: haproxy_frontend_http_responses_total
  namespace: ContainerInsights/Prometheus
  dimensions:
    - name: ClusterName
      value: {{cloudWatchContext.clusterName}}
    - name: Namespace
      value: {{cloudWatchContext.haproxy.namespace}}
    - name: Service
      value: terraform-haproxy-ingress-metrics
    - name: frontend
      value: _front_http
    - name: code
      value: 2xx
