name: Main build

on:
  push:
    branches: [ terraform ]

permissions:
  id-token: write
  contents: read
  
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-java@v3
      with:
        distribution: 'zulu'
        java-version: 17
    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        role-to-assume: ${{ secrets.INTEG_TEST_TFW_ROLE_ARN }}
        role-duration-seconds: 1200
        aws-region: us-east-1
    - name: Login to ECR
      uses: docker/login-action@v3
      with:
        registry: public.ecr.aws
    - name: Push validator docker image
      uses: burrunan/gradle-cache-action@v1
      with:
        arguments: :validator:jib --stacktrace
