[{
  "name": "aws-otel-integ-test",
  "http": {
    "request": {
      "url": "{{endpoint}}/outgoing-http-call",
      "method": "GET"
    },
    "response": {
      "status": 200
    }
  },
  "metadata": {
    "default": {
      "otel.resource.k8s.node.name": "{{kubernetesContext.nodeName}}",
      "otel.resource.k8s.namespace.name": "{{kubernetesContext.namespace}}",
      "otel.resource.k8s.pod.name": "{{kubernetesContext.podName}}",
      "otel.resource.k8s.deployment.name": "{{kubernetesContext.deploymentName}}",
      "otel.resource.k8s.pod.uid": "{{kubernetesContext.podUid}}"
    }
},
  "subsegments": [
    {
      "name": "aws.amazon.com",
      "http": {
        "request": {
          "url": "https://aws\\.amazon\\.com/",
          "method": "GET"
        }
      },
      "namespace": "remote"
    }
  ]
}]

