[{
  "name": "aws-otel-integ-test",
  "fault": false,
  "error": false,
  "http": {
    "request": {
      "url": "{{endpoint}}/aws-sdk-call",
      "method": "GET"
    },
    "response": {
      "status": 200
    }
  }
}]
