[{
  "name": "aws-otel-integ-test",
  "fault": false,
  "http": {
    "request": {
      "url": "{{endpoint}}/aws-sdk-call",
      "method": "GET"
    },
    "response": {
      "status": 200
    }
  },
  "subsegments": [
    {
      "error": false
    }
  ]
}]
